<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="loginchk.a">
	<select id="login" parameterType="String" resultType="client.Client">
		select * from client where email=#{email} and password=#{password}

	</select> 
	<insert id="insert_Client" parameterType="client.Client">
		  INSERT INTO client
	      values(client_no_seq.NEXTVAL,#{email},#{password},#{name},#{phone})
	</insert> 
	<insert id="insert_bs_Client" parameterType="business_client.Business_client">
		  INSERT INTO business_client
	      values(bs_no_seq.NEXTVAL,#{bs_email},#{bs_password},#{business_name},#{business_phone},
	      #{representative},#{cr_no},#{manager_name},#{manager_phone},#{manager_email})
	</insert> 
	
	
	
</mapper>